<extend name="common"/>
<block name="content">
<form method="post" action="{;U()}" name="listForm">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>分类名称</th>
                <th>分类介绍介绍</th>
                <th>排序</th>
                <th>是否显示</th>
                <th>操作</th>
            </tr>
            <foreach name="rows" item="row">
            <tr>
                <td>{$row.name}</td>
                <td>{$row.intro}</td>
                <td>{$row.sort}</td>
                <td><img src="__IMG__/{$row.status}.gif" /></td>
                <td align="center">
                    <a href="{:U('edit',array('id'=>$row['id']))}" title="编辑">编辑</a> |
                <a href="{:U('delete',array('id'=>$row['id']))}" title="移除">移除</a> 
                </td>
            </tr>
                    
            </foreach>
            <tr>
                <td align="right" nowrap="true" colspan="6">
                    <div class="page" id="turn-page">
                        {$page_html}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>
</block>